a { color: darkred; text-decoration: none; }

a:hover{ color: gray; }

h1{
	padding: 0em;
	line-height: 0;
	font-size: 20pt;

}


h2{
	padding: 1em;
	line-height: 0;
	font-size: 10pt;

}


h3{
	padding: 0em;
	line-height: 0;
	font-size: 20pt;

}

.first_letter{
	font-size: 25pt;
}


body {
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: left;
	color: red;
	background-color: black;
	
}

img{
	position: relative;
	left: 200px;
	
}


.title {
	//display: left;
	font-family: monaco;
	margin: 5em;
}

.links {
	font-family: arial;
	margin: 0em;

}

