<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>TestAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>TestField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TestLinkage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>TestMeet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TestOptics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>TestShader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TestStat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>TestTransformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TestTwists.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TestVsr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TestVsrGlv.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TestVsrGlv2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TestWarp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cga.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glv.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vsr.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B0D3DA6152CD32200AD875C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B23A85D151FD339009304D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B23A874151FD33B009304D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B23AF1E151FD60B009304D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B69B97F1523E9FC00C308D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6FDEAE155216AF0070D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6FDECE15545D190070D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B6FDF4F15545E6F0070D3E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B8AFBF2151FF416009E322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B8AFC13151FF631009E322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B8AFC3E152026A4009E322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B8AFCC015202CFC009E322F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B9D00E5144297940032E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B9D0E641442A5330032E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B9D11871442AB710032E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BA4B2F71547491700C15100</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BC171FB1522519500A1128C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCEBA8815671D4900FFE99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCEBAA115681C8D00FFE99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCEBAB715681CEA00FFE99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCECCD81526759300589E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCECCF21527881500589E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCECD0A1527BDC400589E30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
